.page {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  font-family: 'Inter', Arial, sans-serif;
  background: #2A2C2F;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}