.place__image {
  max-width: 460px;
  max-height: 460px;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .place__image {
   width: calc(340px + (440 - 340) * ((100vw - 768px) / (1024 - 768)));
  }
}

@media (max-width: 768px) {
  .place__image {
    width: calc(320px + (340 - 320) * ((100vw - 320px) / (768 - 320)));
  }
}
/*
@media (max-width: 400px) {
  .place__image {
    max-width: 320px;
    max-height: 320px;
  }
} */