.cover__subtitle {
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

@media (max-width: 768px) {
  .cover__subtitle {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(16px + (22 - 16) * ((100vw - 320px) / (768 - 320)));
    width: calc(288px + (360 - 288) * ((100vw - 320px) / (768 - 320)));;
  }
}