.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
  text-align: center;
}

   @media (max-width: 768px) {
    .lead__title {
      font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));
      line-height: calc(44px + (100 - 44) * ((100vw - 320px) / (768 - 320)));
      margin-left: 24px;
      margin-right: 24px;
    }
  }

  @media (max-width: 385px) {
    .lead__title {
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 16px;
    }
  }