.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 18px;
  list-style: none;
}

@media (max-width: 400px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}