.footer__copyright {
  margin: 0;
  width: 100%;
  max-width: 186px;
  text-align: right;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  color: #FFFFFF;
}

@media (max-width: 694px) {
  .footer__copyright {
    padding-top: 48px;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .footer__copyright {
    margin-top: 48px;
    padding-top: 0;
    padding-bottom: 24px;
    line-height: 14px;
    text-align: left;
  }
}