.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 640px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
}

@media (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media (max-width: 768px) {
  .lead__subtitle {
    width: calc(288px + (640 - 288) * ((100vw - 320px) / (768 - 320)));
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(20px + (36 - 20) * ((100vw - 320px) / (768 - 320)));
  }
}

@media (max-width: 320px) {
  .lead__subtitle {
    margin-bottom: 40px;
  }
}