.cover__title {
  margin: 0 auto 32px;
  width: 100%;
  max-width: 560px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px){
  .cover__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(35px + (76 - 35) * ((100vw - 320px) / (768 - 320)));
    width: calc(288px + (560 - 288) * ((100vw - 320px) / (768 - 320)));;
    margin-bottom: 16px;
  }
}
